[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
pytest-doctestplus = "*"

[requires]
python_version = "3.6"
